@import url('https://fonts.googleapis.com/css2?family=Manrope&family=Poppins&family=Space+Grotesk&display=swap');

body, html {
  font-family: 'Poppins', sans-serif;
  margin: 0px;
  background-image: url('../public/images/bg_1.png');
  background-size: 100%;
  background-repeat: no-repeat;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  row-gap: 30px;

  height: 80px;
  width: 100%;
}

ul {
  display: flex;
  flex-direction: row;
  gap: 20px;
  height: auto;
  margin: 0px;
  padding: 10px;
}

li {
  list-style-type: none;
}

.link-styles {
  text-decoration: none;
  color: white
}

.user-icon {
  height: 40px;
  width: 40px;
  border-radius: 40px;
  color: white;
}

.link-styles:hover {
  font-weight: bold;
  transition: ease-in-out .5s;
}

.homepage, .viewsub {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading{
  font-weight: bold;
  color: white;
}