@import url('https://fonts.googleapis.com/css2?family=Manrope&family=Poppins&family=Space+Grotesk&display=swap');

/*--home, sign up, log in--*/

body, html {
  font-family: 'Poppins', sans-serif;
  margin: 0px;
  background-image: url('../public/images/bg_1.png');
  background-size: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

code {
  font-family: 'Cascadia Code';
}

h1 {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  row-gap: 30px;

  height: 80px;
  width: 100%;
}

ul {
  display: flex;
  flex-direction: row;
  gap: 20px;
  height: auto;
  margin: 0px;
  padding: 10px;
}

li {
  list-style-type: none;
}

.link-styles {
  text-decoration: none;
  color: white
}

.notif-icon {
  height: 40px;
  width: 40px;
  
  border-radius: 40px;
  color: white;
}

.user-icon {
  height: 40px;
  width: 40px;
  border-radius: 40px;
  color: white;
}

.link-styles:hover {
  font-weight: bold;
  transition: ease-in-out 0s;
}

.homepage, .viewsub, .signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.homepage {
  padding-bottom: 20px;
}

.holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: white;
  height: 601px;
  border-radius: 30px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.26);
  padding: 20px;
}

.container.addApprover {
  margin-top: 30px;
}

.signup {
  width: 450px;
  margin-top: 3%;
}

.addApprover {
  width: 450px;
  margin-top: 0%;
}

.login {
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding: 0px;
}

.left, .right{
  width: 50%;
  height: 100%;
  overflow: hidden;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: -30px;
  padding: 20px;
  box-sizing: border-box;
}

.login-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0 30px 30px 0;
}

.heading {
  font-weight: bold;
  color: white;
}

.input-holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: 100%;
}

#signup, #login {
  color: #001D3D;
  font-weight: bold;
  text-align: center;
}

.text {
  color: #001D3D;
  font-weight: bold;
}

.input-rounded .MuiOutlinedInput-root {
  border-radius: 20px;
  font-family: 'Poppins';
}

.input-rounded {
  width: 100%;
  max-width: 80%;
}

.MuiOutlinedInput-root::placeholder {
  font-family: 'Poppins';
}

.existing {
  margin: 0px;
  margin-top: -7px;
}

.instructions {
  display: block;
  background-color: rgb(0, 53, 102, 0.7);
  padding: 10px;
  border-radius: 15px;
  color: white;
  margin: 0px;
  width: 100%;
  max-width: 80%;
  box-sizing: border-box;
  height: auto;
  font-size: 14px;;
}

.info-icon {
  margin-right: 5px;
}

.instructions-offscreen {
  display: none;
}

/*--stepper--*/

.step-holder {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.link-field {
  border-radius: 20px;
  width: 100%;
  z-index: 1
}

.github-field {
  display: flex;
  flex-direction: row;
  width: 100%;
}

/*--view submissions--*/

.data-table {
  width: 100%;
  background-color: white;
}


.MuiToolbar-root {
  font-family: 'Poppins';
  color: #001D3D;
}

/*--dropdown--*/
:root {
  --primary-bg: #003566;
  --secondary-bg: #fff;
  --primary-text-color: #fff;
  --secondary-text-color: #001D3D;
  --speed: 500ms;
}

ul {
  list-style: none;
}

.menu-trigger {
  cursor: pointer;
  margin-left: 25px;
}

.menu-container {
  display: flex;
  flex-direction: row;
}

.dropdown-item.user-profile-item {
  text-decoration: none;
  color: var(--secondary-text-color);
  cursor: pointer;
}

.dropdown-item.user-profile-item:hover {
  font-weight: 800;
}

.dropdown-menu {
  z-index: 2
}

.dropdown-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: var(--secondary-bg);
  border-radius: 5px;
  padding: 5px;
  width: 120px;
  top: 75px;
  right: 17.5%;
}

.menu-admin {
  right: 15.15%;
}

.menu-approver {
  right: 22.7%;
}

.dropdown-menu::before {
  content: '';
  position: absolute;
  top: -5px;
  right: 17px;
  height: 10px;
  width: 10px;
  background: var(--secondary-bg);
  transform: rotate(45deg);
}

/* notifications */

.dropdown-item.notif-item {
  text-decoration: none;
  color: var(--secondary-text-color);
  cursor: pointer;
}

.dropdown-menu.menu-notif {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: var(--secondary-bg);
  border-radius: 5px;
  padding: 5px;
  width: 400px;
  top: 75px;
  right: 17.5%;
}

.notif-view{
  overflow-y: auto;
  max-height: 300px;
  display: flex;
  flex-direction: column;
}

.dropdown-menu.menu-notif::before {
  content: '';
  position: absolute;
  top: -5px;
  right: 82px;
  height: 10px;
  width: 10px;
  background: var(--secondary-bg);
  transform: rotate(45deg);
}

#notif-header {
  margin: 0;
}

.notif-item-body{
  margin-top:0px;
  margin-bottom: 2px;
}

.notif-item-date{
  margin-top: 0;
  margin-bottom: 5px;
  font-size: smaller;
  color: #3c3c3c;
}

.dropdown-menu.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: var(--speed) ease;
}

.dropdown-menu.inactive {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: var(--speed) ease;
}

.notif-box{
  display: flex;
  flex-direction: column;
}

/*--profile--*/

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  height: auto;
  width: 500px;
}

.heading.profile {
  color: var(--secondary-text-color);
}

.divider {
  height: 20px;
}

.user-info {
  display: flex;
  flex-direction: column;
}

.info {
  display: flex;
  font-size: 20px;
  margin: 0px;
  justify-content: space-between;
  align-items: center;
  color: grey;
  font-size: 16px;
}

.info-content {
  font-size: 20px;
  color: var(--secondary-text-color);
  margin-left: 80px;
  justify-self: end;
}

.profile-user {
  height: 100px;
  width: auto;
  padding-bottom: 30px;
  color: var(--secondary-text-color);
}

/* Dashed border */
hr.dashed {
  border-top: 3px dashed #bbb;
}

/* Dotted border */
hr.dotted {
  border-top: 3px dotted #3c3c3c;
  margin-top: 0%;
  margin-bottom: 0%;
  width: 95%;
}

/* Solid border */
hr.solid {
  border-top: 3px solid #000000;
  width: 100%;
}

/* Rounded border */
hr.rounded {
  border-top: 3px solid #000000;
  border-radius: 5px;

  margin-top: 0%;
  margin-bottom: 0%;
  width: 95%;
}